      @font-face {
	font-family: tahoma;
        src: url(tahoma.ttf);
      }
      body {
        color:black;
        font-family: "tahoma";
      }
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      .column {
        float: left;
        padding: 20px;
      }
      .column.side {
        width: 25%;
      }
      .column.middle {
        min-width:315px;
        width: 50%;
      }
      .column.side.left{
        min-width:159px;
      }
      .column.side.right{
        min-width:157px;
        padding: 12px 0px 12px 25px;
      }
      .clearboth {
        content: "";
        display: block;
        clear: both;
      }
      ul {
        list-style-type: none;
        overflow: hidden;
      }
      li {
        float: left;
        display: block;
	font-weight:bold;
        color: #ababab;
        text-align: center;
        padding-left: 10px;
        text-decoration: none;
      }
      #lashoopa{
	font-weight:bold;
	padding:5px 30px 5px 0px;
	border-style:solid;
        border-color: white #e7e7e7 white white;
        border-width: 0px 2px 0px 0px;
      }
      .center {
        padding:1% 0%;
	font-weight:bold;
      }
      .imagetable{
        border-style:solid;
        border-color:#e7e7e7;
        border-width:2px;
        padding:30px;
      }
      .imagename {
        border-spacing:0px;
       }
      .imagename p{
	padding:20px 0px 0px 0px;
	margin-block-start:0px;
	margin-block-end:0px;
	border-spacing:0px;
	text-align:center;
	color:#999999;
	font-size:13px;
      }
      .imageprice {
        padding-top:5px;
        text-align:center;
      }
      .producttable{
        display:block;
        border-spacing:30px;
      }
      .productimage{
        width:auto;
        height:auto;
      }
      .productcell {
        width:33.3%;
        min-width:300px;
        padding:2%;
      }
      .productcell, .brandcell {
        display:block;
        float:left;
        margin:0px auto;
      }
      .brandcell{
        min-width:180px;
        width:20%;
        padding:2%;
      }
      .centerdiv{
        margin-top:2%;
        font-size:18px;
        position: relative;
        text-align:left;
      }
      .innerdiv{
        width:60%;
        margin:auto;
      }
      .brand {
        width:100%;
      }
      span.price{
        font-weight:bold;
	color:#797979;
      }
      sup{
        font-weight:normal;
        color:#999999;
      }
